.spot-reviews-container {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-bottom: 20px;

  h2 {
    margin: 10px 0;

    i {
      margin-right: 5px;
    }
  }

  .post-review {
    margin: 10px 0;
  }
}

.review-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h3 {
    margin: 0;
  }

  button {
    margin: 0;

    background-color: #808080;
  }

  p {
    margin: 0;
  }
}

.post-review-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;

  form {
    display: flex;
    flex-direction: column;

    width: 93%;

    textarea {
      background-color: #e4e6ff;
      height: 100px;
    }

    .star-rating {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 20px;

      span {
        font-size: small;

        margin-left: 5px;
      }
    }

    p.error {
      color: #ff5a5f;
      margin: 5px auto;
      text-align: center;
      font-size: small;
    }
  }
}
