div.signup {
  width: 350px;
  margin: 0 auto;

  // border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    margin-bottom: 10px;
  }

  button[disabled] {
    margin-top: 20px;
    margin-bottom: 20px;

    color: white;
    background-color: #ff5a5f;

    border: #ff5a5f 1px solid;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;

    color: white;
    background-color: #ff5a5f;

    border: black 1px solid;
  }

  button[disabled] {
    margin-top: 20px;
    margin-bottom: 20px;

    color: white;
    background-color: #ababab;

    border: black 1px solid;
  }

  button:hover {
    box-shadow: 0px 2px 3px gray;
  }

  button[disabled]:hover {
    box-shadow: none;
  }

  p {
    color: #ff5a5f;
  }
}
