div.signup {
  width: 350px;
  margin: 0 auto;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 50px;
  }
}
