.booking-modal {
  width: 50vmin;

  * {
    margin: 0;
  }

  h1,
  p {
    text-align: center;
  }

  h1 {
    margin: 10px;
  }

  .b-title {
    font-weight: bold;
  }

  .existing-bookings {
    margin-bottom: 10px;

    i {
      cursor: pointer;
      margin-left: 8px;

      &:hover {
        color: #ff5a5f;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;

      label {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    button {
      width: 57%;
      padding: 7px 14px;
      margin: 10px 0;
    }
  }
}
