#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // background-color: white;

  backdrop-filter: blur(5px);
}

#modal-content {
  position: absolute;
  background-color: white;

  border: 1px gray solid;
  border-radius: 50px;
}
