.manage-bookings {
  h1 {
    text-align: center;
  }

  padding-bottom: 50px;
}

.booking-wrap {
  display: flex;
  justify-content: space-around;

  .bkc-wrap {
    display: flex;
    flex-direction: column;
  }

  * {
    text-decoration: none;
    color: #808080;
  }

  .booking-card {
    border: 1px solid #808080;
    padding: 15px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 2px 3px gray;
    }

    * {
      margin: 0;
    }

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    img {
      width: 400px;
      height: 300px;

      object-fit: cover;
    }

    p {
      text-align: center;
      margin-bottom: 4px;

      span {
        font-weight: bold;
      }
    }

    .arrive {
      margin-top: 10px;
    }
  }

  .update-btn {
    color: white;
    background-color: #a9a9a9;
    padding: 3px 7px;
  }
}
