.spot-card {
  padding: 10px;
  margin: 10px;

  border: #808080 1px solid;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      i {
        margin-right: 5px;
      }
    }
  }

  img {
    width: 400px;
    height: 300px;

    object-fit: cover;
  }
}
