div.login {
  width: 30vmax;
  margin: 0 auto;
  margin-top: 20vmin;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.login {
  margin: 20px 0;
}

form.login {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label.login {
  display: flex;
  flex-direction: column;
}

input.login {
  margin-bottom: 10px;
}

button.login {
  margin-top: 20px;
  margin-bottom: 20px;
}
